<prx-page-header title="Welcome to Proxima !!!" sub="This is a blank page"></prx-page-header>

<div class="container-fluid">
  <p>You are now ready to start developing using Proxima.</p>

  <p>This starter template, doesn't include any third party library but those needed for our custom design:</p>

  <ul>
    <li>ngx-bootstrap</li>
    <li>ngx-perfect-scrollbar</li>
    <li>ng2-file-upload</li>
    <li>angular-feather</li>
  </ul>

  <p>You're free to install and use any third party library of your preference.</p>

  <hr />
  <h2>What's next?</h2>
  <p>You might want to start by defining your own custom routes and enabling the navigation for those.</p>

  <h3>Enabling navigation</h3>
  <p>
    The navigation menu vertical and horizontal is done automagically through a NavigationService, you just need to
    configure the json structure and you're done.
  </p>
  <p>
    Please open <code>app/layout/services/navigation.service.ts</code> file and configure your navigation options. Refer
    to the full template to see how it can be nested.
  </p>
</div>
