<footer class="site-footer section text-center bg-light block bg-light edge top-left">
  <div class="container pb-4">
    <div class="section-heading">
      <h2>What are you waiting for?</h2>
      <p class="lead text-secondary">
        We are actively adding more and more features as well as improving those already included.
      </p>
    </div>

    <p class="handwritten highlight font-md">Buy Proxima Now!!!</p>

    <button [ngxScrollTo]="'demos'" class="btn btn-lg btn-primary btn-rounded mt-3">Get it now</button>

    <hr class="mt-5" />
    <div class="row align-items-center">
      <div class="col-md-2 text-center mx-auto">
        <img src="assets/img/logo.svg" alt="" class="logo mb-4" />
        <p class="mt-2 mb-0 text-secondary small">
          © 2020 <a class="brand bold" target="_blank" href="https://5studios.net">5studios.net</a>. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
