<div [ngClass]="{ 'nav-item': inNavbar }" dropdown>
  <a *ngIf="inNavbar; else button" id="language-dropdown" class="nav-link" dropdownToggle>
    {{ currentLanguage | translate }}
  </a>
  <ng-template #button>
    <button id="language-dropdown" class="btn btn-sm btn-secondary" dropdownToggle>
      {{ currentLanguage }}
    </button>
  </ng-template>
  <div *dropdownMenu aria-labelledby="language-dropdown" [ngClass]="menuClass">
    <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
      {{ language | translate }}
    </button>
  </div>
</div>
