<prx-about-navbar [useOnlyDarkLogo]="true"></prx-about-navbar>

<main class="position-relative overflow-hidden">
  <prx-about-header></prx-about-header>
  <prx-about-slider-icons></prx-about-slider-icons>

  <prx-about-proxima></prx-about-proxima>
  <prx-about-ootb></prx-about-ootb>
  <prx-about-layouts></prx-about-layouts>
  <prx-about-all-components></prx-about-all-components>

  <prx-about-selection></prx-about-selection>

  <prx-about-features></prx-about-features>
  <prx-about-beautiful-interface></prx-about-beautiful-interface>

  <prx-about-footer></prx-about-footer>
</main>
